#admin {
    //   border: 2px solid red;
      height: 100vh;
      width: 100%;
      .admin-cont {
        max-width: 95%;
        margin: 0 auto;
        /* height: 100%; */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 2px solid purple;
        form {
          // border: 2px solid black;
          width: 300px;
          padding: 2rem 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: all 0.3s ease-in-out;
          box-shadow: 1px 1px 11px 1px grey;
          border-radius: 1rem;
    
          .admin-icon {
            font-size: 3rem;
            color: rgb(94, 94, 94);
            text-align: center;
          }
          h1 {
            font-size: 1.6rem;
            color: rgb(94, 94, 94);
            margin-top: 1rem;
            font-weight: 500;
          }
    
          .admin-form-wrapper {
            // border: 2px solid purple;
            margin-top: 3rem;
            width: 100%;
            .admin-input-wrapper-cont{
                display: flex;
                flex-direction: column;
                // align-items: center;
                width: 90%;
                gap: 20px;
                margin: 0 auto;
                .admin-input-wrapper{
                    //    border: 2px solid black;
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  border-bottom: 1px solid grey;
                  input {
                    flex: 1;
                    border: none;
                    outline: none;
                    padding: 0.8rem 0.4rem 1.1rem 0.4rem;
                    font-size: 1.4rem;
                  }
                  .admin-input-icon {
                    color: rgb(141, 140, 140);
                    font-size: 1.8rem;
                    position: relative;
                    margin-top: -4px;
                  }
                }
                button {
                    outline: none;
                    border: none;
                    border-radius: 1rem;
                    padding: 1rem 2.5rem;
                    background-color: black;
                    color: white;
                    margin-top: 1rem;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                      background-color: rgb(122, 204, 0);
                      // background-color: transparent;
      
                      // color: black;
                      color: white;
                    }
                  }
                  h1 {
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    font-size: 1.2rem;
                    text-align: center;
                    gap: 2px;
                    a {
                      font-size: 1.1rem;
                    }
                  }
            }
          }
        }
      }
    }
    
    
    